In [1]:
import pandas as pd

In [2]:

weather = pd.read_csv('weatherData.csv')
location = pd.read_csv('locationData.csv')

Location Info

In [3]:
location.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   location_id            27 non-null     int64
 1   latitude               27 non-null     float64
 2   longitude              27 non-null     float64
 3   elevation              27 non-null     int64
 4   utc_offset_seconds     27 non-null     int64
 5   timezone               27 non-null     object
 6   timezone_abbreviation  27 non-null     int64
 7   city_name              27 non-null     object
dtypes: float64(2), int64(4), object(2)
memory usage: 1.8+ KB

In [4]:
location

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone,timezone_abbreviation,city_name
0,0,6.924429,79.907250,4,19800,Asia/Colombo,530,Colombo
1,1,7.065026,79.966220,19,19800,Asia/Colombo,530,Gampaha
2,2,6.572935,80.025190,5,19800,Asia/Colombo,530,Kalutara
3,3,7.275923,80.626590,499,19800,Asia/Colombo,530,Kandy
4,4,7.486819,80.526320,362,19800,Asia/Colombo,530,Matale
5,5,6.994728,80.734180,1865,19800,Asia/Colombo,530,Nuwara Eliya
6,6,6.080843,80.233730,8,19800,Asia/Colombo,530,Galle
7,7,5.940246,80.550000,6,19800,Asia/Colombo,530,Matara
8,8,6.151143,81.127815,8,19800,Asia/Colombo,530,Hambantota
9,9,9.666080,80.034874,8,19800,Asia/Colombo,530,Jaffna
10,10,9.384886,80.382280,19,19800,Asia/Colombo,530,Kilinochchi[1]
11,11,8.963093,79.965430,5,19800,Asia/Colombo,530,Mannar
12,12,8.752197,80.534480,104,19800,Asia/Colombo,530,Vavuniya
13,13,9.244288,80.789246,5,19800,Asia/Colombo,530,Mullaitivu
14,14,7.697715,81.651060,10,19800,Asia/Colombo,530,Batticaloa
15,15,7.275923,81.693474,38,19800,Asia/Colombo,530,Ampara
16,16,8.611599,81.170395,8,19800,Asia/Colombo,530,Trincomalee
17,17,7.486819,80.373520,129,19800,Asia/Colombo,530,Kurunegala
18,18,8.049210,79.846150,4,19800,Asia/Colombo,530,Puttalam
19,19,8.330404,80.428820,95,19800,Asia/Colombo,530,Anuradhapura
20,20,7.908612,81.015360,56,19800,Asia/Colombo,530,Polonnaruwa
21,21,6.994728,81.037970,676,19800,Asia/Colombo,530,Badulla
22,22,6.854130,81.356360,152,19800,Asia/Colombo,530,Moneragala
23,23,6.713532,80.386880,73,19800,Asia/Colombo,530,Ratnapura
24,24,7.275923,80.321760,172,19800,Asia/Colombo,530,Kegalle
25,25,6.924429,80.969640,1089,19800,Asia/Colombo,530,Welimada
26,26,6.854130,80.977260,1217,19800,Asia/Colombo,530,Bandarawela

In [5]:
location.describe()

,location_id,latitude,longitude,elevation,utc_offset_seconds,timezone_abbreviation
count,27.000000,27.000000,27.000000,27.000000,27.0,27.0
mean,13.000000,7.536289,80.616009,245.777778,19800.0,530.0
std,7.937254,1.028163,0.521347,457.903864,0.0,0.0
min,0.000000,5.940246,79.846150,4.000000,19800.0,530.0
25%,6.500000,6.889280,80.277745,8.000000,19800.0,530.0
50%,13.000000,7.275923,80.534480,38.000000,19800.0,530.0
75%,19.500000,8.189807,80.996310,162.000000,19800.0,530.0
max,26.000000,9.666080,81.693474,1865.000000,19800.0,530.0

In [6]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142371 entries, 0 to 142370
Data columns (total 21 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   location_id                      142371 non-null  int64
 1   date                             142371 non-null  object
 2   weather_code (wmo code)          142371 non-null  int64
 3   temperature_2m_max (°C)          142371 non-null  float64
 4   temperature_2m_min (°C)          142371 non-null  float64
 5   temperature_2m_mean (°C)         142371 non-null  float64
 6   apparent_temperature_max (°C)    142371 non-null  float64
 7   apparent_temperature_min (°C)    142371 non-null  float64
 8   apparent_temperature_mean (°C)   142371 non-null  float64
 9   daylight_duration (s)            142371 non-null  float64
 10  sunshine_duration (s)            142371 non-null  float64
 11  precipitation_sum (mm)           142371 non-null  float64
 12  rain_sum (mm)                    142371 non-null  float64
 13  precipitation_hours (h)          142371 non-null  int64
 14  wind_speed_10m_max (km/h)        142371 non-null  float64
 15  wind_gusts_10m_max (km/h)        142371 non-null  float64
 16  wind_direction_10m_dominant (°)  142371 non-null  int64
 17  shortwave_radiation_sum (MJ/m²)  142371 non-null  float64
 18  et0_fao_evapotranspiration (mm)  142371 non-null  float64
 19  sunrise                          142371 non-null  object
 20  sunset                           142371 non-null  object
dtypes: float64(14), int64(4), object(3)
memory usage: 22.8+ MB

In [7]:
weather.head(10)

,location_id,date,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),...,precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm),sunrise,sunset
0,0,1/1/2010,1,30.1,22.6,26.0,34.5,25.0,29.0,42220.20,...,0.0,0.0,0,12.2,27.4,19,20.92,4.61,06:22,18:05
1,0,1/2/2010,51,30.1,23.7,26.3,33.9,26.1,29.7,42225.71,...,0.1,0.1,1,13.0,27.0,24,17.71,3.91,06:22,18:06
2,0,1/3/2010,51,29.6,23.1,26.0,34.5,26.2,29.9,42231.68,...,0.6,0.6,3,12.3,27.4,17,17.76,3.66,06:22,18:06
3,0,1/4/2010,2,28.9,23.1,25.7,31.7,26.1,28.4,42238.11,...,0.0,0.0,0,17.0,34.6,357,16.50,3.75,06:23,18:07
4,0,1/5/2010,1,28.1,21.3,24.6,30.0,22.9,26.2,42244.99,...,0.0,0.0,0,18.7,37.1,353,23.61,5.00,06:23,18:07
5,0,1/6/2010,1,28.8,21.3,24.9,31.2,22.8,26.3,42252.32,...,0.0,0.0,0,17.1,32.0,12,21.48,4.95,06:23,18:08
6,0,1/7/2010,3,29.3,22.0,25.6,34.0,24.2,28.3,42260.19,...,0.0,0.0,0,13.5,25.6,10,19.38,4.38,06:24,18:08
7,0,1/8/2010,53,28.4,23.4,25.6,32.2,26.1,29.0,42268.61,...,0.8,0.8,3,13.0,24.8,7,13.00,2.98,06:24,18:09
8,0,1/9/2010,61,29.1,23.5,26.0,35.4,28.3,31.3,42277.55,...,3.2,3.2,5,11.5,31.7,163,16.89,3.34,06:24,18:09
9,0,1/10/2010,51,30.1,22.6,26.2,35.8,27.1,31.2,42287.01,...,0.1,0.1,1,6.9,18.4,101,20.52,4.15,06:25,18:10

In [8]:
weather.describe()

,location_id,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),daylight_duration (s),sunshine_duration (s),precipitation_sum (mm),rain_sum (mm),precipitation_hours (h),wind_speed_10m_max (km/h),wind_gusts_10m_max (km/h),wind_direction_10m_dominant (°),shortwave_radiation_sum (MJ/m²),et0_fao_evapotranspiration (mm)
count,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000,142371.000000
mean,13.000000,44.891586,29.295854,23.120601,25.730017,33.560477,26.362139,29.234477,43645.975220,34676.319743,5.442717,5.442717,7.337955,16.461730,37.118828,177.723567,18.933608,4.115296
std,7.788908,22.840879,3.352774,3.165760,2.954064,4.183799,4.196010,3.837440,1099.470021,8910.054804,10.286371,10.286371,6.861958,6.828743,11.676963,95.393165,4.398970,1.179600
min,0.000000,0.000000,14.100000,5.300000,12.100000,11.000000,2.000000,9.500000,41610.710000,0.000000,0.000000,0.000000,0.000000,2.300000,9.400000,0.000000,1.120000,0.380000
25%,6.000000,51.000000,27.700000,22.000000,24.700000,31.400000,25.100000,27.900000,42607.350000,32883.955000,0.200000,0.200000,1.000000,11.400000,28.100000,78.000000,16.570000,3.350000
50%,13.000000,53.000000,29.300000,23.800000,26.200000,33.900000,27.600000,30.100000,43648.880000,38819.230000,1.800000,1.800000,6.000000,15.600000,35.300000,209.000000,19.710000,4.110000
75%,20.000000,61.000000,31.300000,25.200000,27.600000,36.300000,29.100000,31.600000,44685.075000,39898.010000,6.500000,6.500000,12.000000,20.400000,44.300000,247.000000,22.090000,4.890000
max,26.000000,65.000000,40.300000,30.300000,32.700000,46.100000,35.600000,37.700000,45676.100000,42231.340000,321.800000,321.800000,24.000000,60.700000,123.500000,360.000000,29.400000,8.450000

Columns Standarised

In [9]:
location.columns = location.columns.str.lower().str.replace('[^a-z0-9_]', '', regex=True)
print(location.columns.tolist())

['location_id', 'latitude', 'longitude', 'elevation', 'utc_offset_seconds', 'timezone', 'timezone_abbreviation', 'city_name']

In [10]:
weather.columns = weather.columns.str.lower().str.replace(r'\s*\(.*\)', '', regex=True).str.replace('[^a-z0-9_]', '', regex=True)
weather.columns

Index(['location_id', 'date', 'weather_code', 'temperature_2m_max',
       'temperature_2m_min', 'temperature_2m_mean', 'apparent_temperature_max',
       'apparent_temperature_min', 'apparent_temperature_mean',
       'daylight_duration', 'sunshine_duration', 'precipitation_sum',
       'rain_sum', 'precipitation_hours', 'wind_speed_10m_max',
       'wind_gusts_10m_max', 'wind_direction_10m_dominant',
       'shortwave_radiation_sum', 'et0_fao_evapotranspiration', 'sunrise',
       'sunset'],
      dtype='object')

Remove redundant column

In [11]:
weather = weather.drop(columns=['rain_sum'])
print(weather.columns.tolist())

['location_id', 'date', 'weather_code', 'temperature_2m_max', 'temperature_2m_min', 'temperature_2m_mean', 'apparent_temperature_max', 'apparent_temperature_min', 'apparent_temperature_mean', 'daylight_duration', 'sunshine_duration', 'precipitation_sum', 'precipitation_hours', 'wind_speed_10m_max', 'wind_gusts_10m_max', 'wind_direction_10m_dominant', 'shortwave_radiation_sum', 'et0_fao_evapotranspiration', 'sunrise', 'sunset']

Date Standarised

In [12]:
weather['date'] = pd.to_datetime(weather['date']).dt.strftime('%Y-%m-%d')

In [ ]:
weather.to_csv('processed_weather_data.csv', index=False)
location.to_csv('processed_location_data.csv', index=False)
print("Processed data saved successfully!")

Processed data saved successfully!